h2, h3, h4, h5, h6 {
    color: #424242 !important;
    font-weight: 700 !important;
}

a {
    color: #546c78 !important;
}

.highlight>.chroma code[data-lang]::before {
    text-transform: none !important;
}